<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lemon.vy3000">

    <!-- <dist:module dist:instant="true" /> -->

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.VYApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_vy_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_vy_logo"
        android:supportsRtl="true">

        <service android:name=".vy.beacon.VYBeaconService"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.AutoTicketActivity"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>


    </application>

</manifest>